body{
    height: 654px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.84) !important;
    color: white !important;
}
.titel{
    border: 3px solid #808080;
    width: 45%;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.min-borde{
    border: 7px solid #808080;
    background-color:#f0DB4F;
    width: 35%;
    border-radius: 20px;
}
.borde{
    /* background-color: aqua; */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column{

    width: 100%;
}
.column p{
    cursor: pointer;
    width: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #808080;
    margin: 0;
    padding: 10px 20px;
    color: black;
    width: 50%;
    height: 75px;
}
.column p:hover{
    background-color: #c6b439;
}
.reset{
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: rgb(84 60 172);
    border: 0;
    color: white;
    transition: 0.3s;
}
.reset-x-o{
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: rgb(84 60 172);
    border: 0;
    color: white;
    transition: 0.3s;
}
.reset:hover{
    background-color: rgb(137 105 240);
}
.reset-x-o:hover{
    background-color: rgb(137 105 240);

}


/* alert */
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    top: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 60px; opacity: 0;}
}
/* alert */